{% extends 'base.html' %}

{% block header_title %}
Login
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'login/style.css' %}">
{% endblock %}

{% block navbar %}
{% include 'login/navbar.html' %}
{% endblock %}

{% block body %}
<div id="container">
    <div id="left-block"></div>
    <div id="main-block">
        <div id="floating-island">
            <div id="floating-island-title">
                Login
            </div>
            <div id="floating-island-body">
                {% if error %}
                {% for item in error %}
                <ul>
                    <li style="color: red;">{{item}}</li>
                </ul>
                {% endfor %}
                {% endif %}

                <form action="" , method="POST">
                    {% csrf_token %}
                    <label for="email">Email:</label>
                    <input type="email" name="email" required>

                    <label for="password">Password:</label>
                    <input type="password" name="password" required>

                    <button type="submit" id="submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div id="right-block"></div>
</div>
{% endblock %}