<div id="navbar">
    <div id="logo">
        <h1><a href="/">Sigma</a></h1>
    </div>

    <ul id="list">
        <li class="nav-list-item">
            <a href="../login/">
                Login
            </a>
        </li>
        <li class='nav-list-item'>
            <a href="../register/">
                Register
            </a>
        </li>
        <li class='nav-list-item'>
            <a href="../overview/">
                Overview
            </a>
        </li>
        <li class='nav-list-item' id="right-most">
            <a href="../about/">
                About
            </a>
        </li>
    </ul>
</div>